flows.json
[{"id":"e4d2027c.5522b","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"7be772f3.b192dc","type":"ui_form","z":"e4d2027c.5522b","name":"","label":"","group":"33dcd32e.211a5c","order":0,"width":0,"height":0,"options":[{"label":"person verification","value":"name","type":"text","required":true,"rows":null}],"formValue":{"name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":160,"wires":[["a78e4869.2f9ff8"]]},{"id":"e802e472.dac698","type":"debug","z":"e4d2027c.5522b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":100,"wires":[]},{"id":"a78e4869.2f9ff8","type":"function","z":"e4d2027c.5522b","name":"Voting Person","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":140,"wires":[["e802e472.dac698","74d2cc77.47bc34"]]},{"id":"74d2cc77.47bc34","type":"switch","z":"e4d2027c.5522b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ancy","vt":"str"},{"t":"eq","v":"salini","vt":"str"},{"t":"eq","v":"swatha","vt":"str"},{"t":"eq","v":"raju","vt":"str"},{"t":"eq","v":"ajesh","vt":"str"},{"t":"eq","v":"balu","vt":"str"},{"t":"eq","v":"suresh","vt":"str"},{"t":"eq","v":"stella","vt":"str"},{"t":"eq","v":"jebadass","vt":"str"},{"t":"eq","v":"rini","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":410,"y":240,"wires":[["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["36f70fcc.20cdb"],["4980ce18.00d89"]]},{"id":"36f70fcc.20cdb","type":"function","z":"e4d2027c.5522b","name":"Authorised Candidate","func":"msg.payload=\"Authorised Candidate\"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["7d597404.dfbb6c","34e9f001.2bb6d","7854b2eb.35924c"]]},{"id":"4980ce18.00d89","type":"function","z":"e4d2027c.5522b","name":"UnAuthorised Candidate","func":"msg.payload=\"UnAuthorised Candidate\"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["7d597404.dfbb6c","34e9f001.2bb6d","7854b2eb.35924c"]]},{"id":"7d597404.dfbb6c","type":"ui_text","z":"e4d2027c.5522b","group":"31cd17ce.558d08","order":0,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":240,"wires":[]},{"id":"34e9f001.2bb6d","type":"debug","z":"e4d2027c.5522b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":340,"wires":[]},{"id":"5e4242d4.4d70cc","type":"function","z":"e4d2027c.5522b","name":"speech output","func":"msg.payload = msg.speech;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":180,"wires":[["6092eb7.645bc14"]]},{"id":"6092eb7.645bc14","type":"ui_audio","z":"e4d2027c.5522b","name":"","group":"40d80886.52c2b8","voice":"","always":"","x":1060,"y":240,"wires":[]},{"id":"55e89e1b.f1d41","type":"ui_button","z":"e4d2027c.5522b","name":"","group":"7d793219.5ab25c","order":0,"width":0,"height":0,"passthru":false,"label":"YSR Congress party","tooltip":"","color":"","bgcolor":"","icon":"","payload":"YSR Congress party","payloadType":"str","topic":"","x":180,"y":420,"wires":[["ade043d9.21371"]]},{"id":"14c0748f.2f1b0b","type":"ui_text","z":"e4d2027c.5522b","group":"30498e1c.a10b02","order":0,"width":0,"height":0,"name":"","label":"Result","format":"{{msg.payload}}","layout":"row-spread","x":580,"y":460,"wires":[]},{"id":"4ff5361e.6c02f8","type":"ui_button","z":"e4d2027c.5522b","name":"","group":"cc73b102.b9e37","order":1,"width":0,"height":0,"passthru":false,"label":"Telugu Desam Party","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Telugu Desam Party","payloadType":"str","topic":"","x":180,"y":500,"wires":[["ade043d9.21371"]]},{"id":"e72deab.80f0818","type":"ui_button","z":"e4d2027c.5522b","name":"","group":"748a7b11.ebe9c4","order":2,"width":0,"height":0,"passthru":false,"label":"Jana Sena Party","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Jana Sena Party","payloadType":"str","topic":"","x":160,"y":600,"wires":[["ade043d9.21371"]]},{"id":"ade043d9.21371","type":"cloudant in","z":"e4d2027c.5522b","name":"","cloudant":"a8f55420.708f48","database":"voting","service":"node-red-prasanna-cloudant-1594644013448-55749","search":"_id_","design":"voting","index":"payload","x":380,"y":540,"wires":[["d22bdae3.a00108","164e7ad3.f569f5"]]},{"id":"d22bdae3.a00108","type":"debug","z":"e4d2027c.5522b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":540,"wires":[]},{"id":"164e7ad3.f569f5","type":"function","z":"e4d2027c.5522b","name":"party ","func":"msg.payload=msg.payload._id\nvar vote=[msg.payload];\nvar i\nfor (i in vote.length)\n{\n    i=i+1\n    i++\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":460,"wires":[["14c0748f.2f1b0b","d22bdae3.a00108"]]},{"id":"7854b2eb.35924c","type":"watson-text-to-speech","z":"e4d2027c.5522b","name":"","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"CfprCyqcPahklGdpdFvhJ8qeWymRMNz606t4XYXvlYSE","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/e85acd32-e2f1-467c-a086-387c77d39224","x":830,"y":100,"wires":[["5e4242d4.4d70cc"]]},{"id":"33dcd32e.211a5c","type":"ui_group","z":"","name":"user verification","tab":"aa849aee.4d32f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"31cd17ce.558d08","type":"ui_group","z":"","name":"verification","tab":"aa849aee.4d32f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"40d80886.52c2b8","type":"ui_group","z":"","name":"audio","tab":"aa849aee.4d32f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"7d793219.5ab25c","type":"ui_group","z":"","name":"Party 1","tab":"aa849aee.4d32f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"30498e1c.a10b02","type":"ui_group","z":"","name":"Voted Party","tab":"aa849aee.4d32f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"cc73b102.b9e37","type":"ui_group","z":"","name":"Party 2","tab":"aa849aee.4d32f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"748a7b11.ebe9c4","type":"ui_group","z":"","name":"Party 3","tab":"aa849aee.4d32f8","order":7,"disp":true,"width":"6","collapse":false},{"id":"a8f55420.708f48","type":"cloudant","z":"","host":"","name":""},{"id":"aa849aee.4d32f8","type":"ui_tab","z":"","name":"votting system","icon":"dashboard","disabled":false,"hidden":false}]